/* 沒有標籤語法 */
.st1 {
    color: orange;
    font-style: italic;
}

h2.st2 {
    color: pink;
    text-decoration: capitalize;
}

.col2 {
    color: brown;
}

.col1 {
    color: gray;
}


.size1 {
    font-size: 3em;
}

.trans1 {
    text-transform: uppercase;
}

.sty1 {
    font-style: italic;
}

#colh3 {
    color: #009393;
}

.colh3 {
    color: blue;
}